{
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "rules": {
    "brace-style": [2, "stroustrup"],
    "quote-props": [2, "consistent-as-needed"],
    "max-len": [2, 120, 2, {"ignoreUrls": true}],
    "no-console": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-vars": [2, {"varsIgnorePattern": "colors"}]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
